
.topbar {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
    z-index: 2;
}

.topLeft, .topRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topCenter {
    flex: 6;
}

.topIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.topList {
    display: flex;
    justify-content: center;
}

.topListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.topImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.topSearchIcon {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-left: 12px;
}